doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="style.css")
        title Movies
    include ./header.pug
    body 
        main
            h3 What do you want?
            a(href="./createMovie") Add New Movie
            
            section
                each item, index in allMovies 
                    article
                        h3  Title: #{allMovies[index].title}
                        img(src=allMovies[index].img)
                        p Year: #{allMovies[index].year}
                        p Director: #{allMovies[index].director}
                        p Genre: #{allMovies[index].genre}
                        p Runtime: #{allMovies[index].runtime}
                        p Plot : #{allMovies[index].plot}
                        p Actors : #{allMovies[index].actors}
                        //- p Ratings: #{allMovies.ratings} 
                        p Language : #{allMovies[index].language}
                        button(class ="delete" id="delete"+index) Delete
                        button(class ="edit" id="edit"+index) Edit

                        


    include ./footer.pug
    script(type="module" src="/moviesAdminScripts.js")
