doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="style.css")
        title Favorites
    include ./header.pug
    body
        main
            h3 What do you want?

            section
                each film, index in favMovies
                    article 
                        h1 Title: #{favMovies[index].title}
                        img(src=favMovies[index].img)
                        p Year: #{favMovies[index].year}
                        p Director: #{favMovies[index].director}
                        p Genre: #{favMovies[index].genre}
                        p Runtime: #{favMovies[index].runtime}
                        button Remove


        include ./footer.pug

        script(type="module" src="/scripts.js")

