doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Favorites
    include ./header.pug
    body
        main
            h3 What do you want?

            section
            if favMoviesApi
                each film, i in favMoviesApi 
                    article 
                        h1 Title: #{favMoviesApi[i].title}
                        img(src=favMoviesApi[i].img)
                        p Year: #{favMoviesApi[i].year}
                        p Director: #{favMoviesApi[i].director}
                        p Genre: #{favMoviesApi[i].genre}
                        p Runtime: #{favMoviesApi[i].runtime}
                        button Remove
            section

            if favMongoMovies 
                each film, i in favMongoMovies
                    article 
                        h1 Title: #{favMongoMovies[i].title}
                        img(src=favMongoMovies[i].img)
                        p Year: #{favMongoMovies[i].year}
                        p Director: #{favMongoMovies[i].director}
                        p Genre: #{favMongoMovies[i].genre}
                        p Runtime: #{favMongoMovies[i].runtime}
                        button Remove            
                        


        include ./footer.pug

        script(type="module" src="/scripts.js")

