doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title searchTitle
    body
        include ./header.pug
        main
            a(href="../" class ="css-button-arrow--red" ) Go back
            section(class="card")
                    h1(id="title") Title: #{param.title}
                    img(id="img" src=param.img)
                    p(id="year") Year: #{param.year}
                    p(id="director") Director: #{param.director}
                    p(id="genre") Genre: #{param.genre}
                    p(id="runtime") Runtime: #{param.runtime}
                    p Plot : #{param.plot}
                    p Actors : #{param.actors}
                    p Language : #{param.language}
                    if critics 
                        each item , i in critics 
                            p Critics: #{critics[i].Critics}
                            p Punctuation: #{critics[i].Punctuation}
                    button(id='fav' type="button" class ="css-button-arrow--red") Add to Favorites
            p(id="userId" hidden=true) #{userId} 

            a(href="http://localhost:3000/favmovies" class ="css-button-arrow--red") Look your favorites   



        include ./footer.pug
        script(type="module" src="/scripts.js")