//Render de la descripcion especifica de la pelicula seleccionada en search.pug ==(evento de click)==> .post('./search') ==(resredirect)==> /search/:title
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{param.Title}
        link(rel="stylesheet", href="/styles.css")
    body
        include ./header.pug
        main
            section(class="card")
                    img(id="img" src=param.Poster)
                    h1(id="title") Title: #{param.Title}
                    p(id="year") Year: #{param.Year}
                    p(id="director") Director: #{param.Director}
                    p(id="genre") Genre: #{param.Genre}
                    p(id="runtime") Runtime: #{param.Runtime}
                    p Plot : #{param.Plot}
                    p Actors : #{param.Actors}
                    p Ratings: #{param.Ratings}
                    p Language : #{param.Language}
                    button(id='fav' type="button") Add to Favorites


        include ./footer.pug

        script(type="module" src="/searchTitleScripts.js") 
